<template name="character">
  {{#with character}}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title text-center">{{username}}</h3>
    </div>
    <div class="panel-body text-center">
      <img src="av9.jpeg" class="img-responsive imageSizing avatar">
      <span class="glyphicon glyphicon-heart">{{profile.stamina}}</span><br>
      <span class="glyphicon glyphicon-usd">{{profile.money}}</span>
    </div>
    <div class="panel-heading">
      <h3 class="panel-title text-center">Social Rank</h3>
    </div>
    <div class="panel-body text-center">
        <span class="glyphicon">{{profile.socialrank}}</span>
    </div>
  </div>
  {{/with}}
</template>
