<template name='home'>
  <div class='container text-center'>
    <h1> Meteor Developer Simulator </h1>
    <div class="intro">
      <p class="text-left">You are a software developer working for a Fortune 5,000,000 company that exclusively uses the Meteor framework for developing apps.  Your goal is to become the most socially accepted avatar while balancing school, work, and sleep all while resisting alcohol addiction in this riveting virtual world!</p>
      <p class="login-intro">Log in or create a new account to play the most exciting simulation around!</p>
    </div>
    <div id="login-screen">
      {{> loginButtons}}
    </div>
  </div>
</template>
