<template name="mainLayout">
<div class='container'>
  <nav class='navbar navbar-default'>
      <a class='navbar-brand' href='/room'>Room</a>
      <a class='navbar-brand' href='/office'>Office</a>
      <a class='navbar-brand' href='/bar'>Bar</a>
      <span class='navbar-right login-buttons'>{{> loginButtons}}</span>
  </nav>

  <div id='main'>
    <div class="col-sm-2">
      {{> character}}
    </div>

    <div class="col-sm-8">
      {{> yield}}
    </div>
    <div class="col-sm-2">
        {{> leaderboard}}
    </div>
  </div>
</div>
</template>
