<template name="mainLayout">
<div class='container'>
  <nav class='navbar navbar-default'>
      <a class='navbar-brand' href="#">Social Hack </a>
      <a class='navbar-brand' href='/room'>Room</a>
      <a class='navbar-brand' href='/office'>Office</a>
      <a class='navbar-brand' href='/bar'>Bar</a>
      <a class='navbar-brand' href='/class'>Class</a>
      <span class='navbar-right login-buttons'>{{> loginButtons}}</span>
  </nav>

  <div id='main'>
    <div class="col-xs-12 col-sm-4 col-md-3">
      {{> character}}
    </div>

    <div class="col-xs-12 col-sm-4 col-md-6">
      {{> yield}}

    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
      {{> leaderboard}}
      {{>time}}
    </div>
  </div>
</div>
</template>
